<%= form_for bookmark, class: 'form-horizontal' do |f| %>
  <div class="form-group row">
    <%= f.label :title, class: 'col-md-2 control-label lead' do %>
      <span class="glyphicon glyphicon-edit"></span> Title
    <% end %>
    <div class="col-md-10">
      <%= f.text_field :title, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group row">
    <%= f.label :url, class: 'col-md-2 control-label lead' do %>
      <span class="glyphicon glyphicon-link"></span> URL
    <% end %>
    <div class="col-md-10">
      <%= f.text_field :url, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group row">
    <%= f.label :category, class: 'col-md-2 control-label lead' do %>
      <span class="glyphicon glyphicon-tag"></span> Category
    <% end %>
    <div class="col-md-10">
      <%= f.select :category, Bookmark::CATEGORIES, { include_blank: true }, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group row">
    <%= f.label :comment, class: 'col-md-2 control-label lead' do %>
      <span class="glyphicon glyphicon-comment"></span> Comment
    <% end %>
    <div class="col-md-10">
      <%= f.text_field :comment, class: 'form-control', placeholder: '(optional)' %>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-md-2 lead"><span class="glyphicon glyphicon-heart"></span></div>
    <div class="col-md-10">
      <%= f.check_box :is_favorite %>
      <%= f.label :is_favorite, 'Favorite', class: 'control-label lead' %>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-md-offset-2 col-md-10">
      <%= f.button class: 'btn btn-success btn-lg' do %>
        <span class="glyphicon glyphicon-ok"></span> Save
      <% end %>
      <% if f.object.persisted? %>
        <%= link_to :back, class: 'btn btn-danger btn-lg' do %>
          <span class="glyphicon glyphicon-remove"></span> Cancel
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>
